{% extends "store/admin_loyaut.html" %}
{% load static %}

{% block headcode %}
    <link rel="stylesheet" href="{% static 'css/product_confirm_delete.css' %}">
{% endblock %}

{% block content %}
<div class="card">
    <h2>Видалити товар "{{ product.name }}"?</h2>
    <p>Ви впевнені, що хочете видалити цей товар? Це не можна скасувати.</p>
    <form method="POST">
        {% csrf_token %}
        <div class="button-group">
            <button type="submit" class="btn btn-danger">Так, видалити</button>
            <a href="{% url 'product_list' %}" class="btn btn-secondary">Скасувати</a>
        </div>
    </form>
</div>
{% endblock %}
