{% extends "layout.html" %}
{% load static %}

{% block title %}Main{% endblock %}

{% block headcode %}
    <link rel="icon" href="{% static 'img/people.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/store_page.css' %}">
{% endblock %}

{% block content %}
    <section class="content">
        <aside class="sidebar">
            <h2>Художні</h2>
            <ul>
                <li><a href="#">Сучасні автори</a></li>
                <li><a href="#">Романтична проза</a></li>
                <li><a href="#">Історична та пригодницька проза</a></li>
                <li><a href="#">Детективи</a></li>
                <li><a href="#">Трилери та жахи</a></li>
                <li><a href="#">Фантастика</a></li>
                <li><a href="#">Фентезі</a></li>
                <li><a href="#">Класична література</a></li>
                <li><a href="#">Комікси та манґи</a></li>
            </ul>
            <h2>Прикладні</h2>
            <ul>
                <li><a href="#">Історія, факти та біографії</a></li>
                <li><a href="#">Психологія</a></li>
                <li><a href="#">Саморозвиток</a></li>
                <li><a href="#">Бізнес-література</a></li>
                <li><a href="#">Дозвілля та Хобі</a></li>
                <li><a href="#">Наукпоп</a></li>
                <li><a href="#">Езотерика, таро</a></li>
            </ul>
            <h2>Дитячі</h2>
            <ul>
                <li><a href="#">Дітям до 4-х років</a></li>
                <li><a href="#">Дітям 4-6 років</a></li>
                <li><a href="#">Дітям 7-12 років</a></li>
                <li><a href="#">Дітям від 12 років</a></li>
                <li><a href="#">Шкільна та Навчальна</a></li>
                <li><a href="#">Розвиваючі книги</a></li>
                <li><a href="#">Казки і повісті</a></li>
            </ul>
        </aside>
        <section class="main-content">
            <div class="feature-box">
                <h1>Новинки</h1>
                {% include 'elements/slider.html' with slider_id='slider1' %}
                <section class="product-store">
                    <div class="card-menu">
                        <div class="visible-buttons">
                            <p>Показувати:</p>
                            <button>20</button>
                            <button>50</button>
                            <button>100</button>
                        </div>
                        <div class="sort-buttons">
                            <p>Сортувати за:</p>
                            <button>Датою</button>
                            <button>Популярністю</button>
                            <button>Ціною</button>
                        </div>
                    </div>
                    {% include 'elements/product-card.html'%}
                </section> 
            </div>
        </section>
    </section>

    <script src="{% static 'js/user-store.js' %}"></script>
{% endblock %}
