{% load static %}
<div class="product-card">
    <img src="{% static 'img/noimages.png' %}" alt="Зображення товару">
    <div class="product-info">
      <h3>Товар </h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur id soluta maxime cupiditate repellendus incidunt dolor doloremque laborum? Voluptas, voluptate! Minima magni veritatis aperiam! Necessitatibus totam quia blanditiis aliquid fuga.</p>
    </div>
    <div class="product-price">
      <p>Ціна</p>
      <button>До кошика</button>
    </div>  
</div>