{% load static %}

<link rel="stylesheet" href="{% static 'css/slider.css' %}">

<div class="wrapper" id="{{ slider_id }}">
    <div class="slider">
      <div class="slides">
        <div class="slide">
          <div class="card">
            <img src="{% static 'img/noimages.png' %}" alt="Зображення товару">
            <h3>Товар</h3>
            <p>Опис товару 00$</p>
          </div>
          <div class="card">
            <img src="{% static 'img/noimages.png' %}" alt="Зображення товару">
            <h3>Товар </h3>
            <p>Опис товару 00$</p>
          </div>
          <div class="card">
            <img src="{% static 'img/noimages.png' %}" alt="Зображення товару">
            <h3>Товар </h3>
            <p>Опис товару 00$</p>
          </div>
        </div>
        <div class="slide">
          <div class="card">
            <img src="{% static 'img/noimages.png' %}" alt="Зображення товару">
            <h3>Товар </h3>
            <p>Опис товару 00$</p>
          </div>
          <div class="card">
            <img src="{% static 'img/noimages.png' %}" alt="Зображення товару">
            <h3>Товар </h3>
            <p>Опис товару 00$</p>
          </div>
          <div class="card">
            <img src="{% static 'img/noimages.png' %}" alt="Зображення товару">
            <h3>Товар </h3>
            <p>Опис товару 00$</p>
          </div>
        </div>
        <div class="slide">
          <div class="card">
            <img src="{% static 'img/noimages.png' %}" alt="Зображення товару">
            <h3>Товар </h3>
            <p>Опис товару 00$</p>
          </div>
          <div class="card">
            <img src="{% static 'img/noimages.png' %}" alt="Зображення товару">
            <h3>Товар </h3>
            <p>Опис товару 00$</p>
          </div>
          <div class="card">
            <img src="{% static 'img/noimages.png' %}" alt="Зображення товару">
            <h3>Товар </h3>
            <p>Опис товару 00$</p>
          </div>
        </div>
        <div class="slide">
          <div class="card">
            <img src="{% static 'img/noimages.png' %}" alt="Зображення товару">
            <h3>Товар </h3>
            <p>Опис товару 00$</p>
          </div>
          <div class="card">
            <img src="{% static 'img/noimages.png' %}" alt="Зображення товару">
            <h3>Товар </h3>
            <p>Опис товару 00$</p>
          </div>
          <div class="card">
            <img src="{% static 'img/noimages.png' %}" alt="Зображення товару">
            <h3>Товар </h3>
            <p>Опис товару 00$</p>
          </div>
        </div>
        <div class="slide">
          <div class="card">
            <img src="{% static 'img/noimages.png' %}" alt="Зображення товару">
            <h3>Товар </h3>
            <p>Опис товару 00$</p>
          </div>
          <div class="card">
            <img src="{% static 'img/noimages.png' %}" alt="Зображення товару">
            <h3>Товар </h3>
            <p>Опис товару 00$</p>
          </div>
          <div class="card">
            <img src="{% static 'img/noimages.png' %}" alt="Зображення товару">
            <h3>Товар </h3>
            <p>Опис товару 00$</p>
          </div>
        </div>
        <div class="slide">
          <div class="card">
            <img src="{% static 'img/noimages.png' %}" alt="Зображення товару">
            <h3>Товар </h3>
            <p>Опис товару 00$</p>
          </div>
          <div class="card">
            <img src="{% static 'img/noimages.png' %}" alt="Зображення товару">
            <h3>Товар </h3>
            <p>Опис товару 00$</p>
          </div>
          <div class="card">
            <img src="{% static 'img/noimages.png' %}" alt="Зображення товару">
            <h3>Товар</h3>
            <p>Опис товару 00$</p>
          </div>
        </div>
      </div>
      <button class="prev">&#10094;</button>
      <button class="next">&#10095;</button>
    </div>
  </div>

  <script src="{% static 'js/slider.js' %}">
    initializeSlider('{{ slider_id }}');
  </script>